body { 
  background-color:#c63d0f;
}

table 
{
	width: 80%;
	height: 100%;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	border-collapse: collapse;
	cellspacing: 8 px;
}

th, td 
{
    border-bottom: 8px solid #ddd;
}

td 
{
	
  	font-size: 2.0em;
	text-align:left;
	background-color:#DADAEB; 
}

th 
{
    height: 50px;
}
